.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
.covid-overview{
    background-color: black;
    color: white;
}
.row .col-md-6{
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    color: #fff;
}
